html {
	font-family: "Microsoft YaHei" ! important;
	font-size: 22px;
}

div.content {
	text-align: center;
}

.key {
	display: inline-block;
	width: 30%;
	text-align: right;
	margin-right: 10px;
}

.value {
	display: inline-block;
	width: 45%;
	text-align: left;
}

span {
	line-height: 30px;
	padding: 1px;
	vertical-align: bottom;
	font-size: 20px;;
}

input {
	line-height: 24px;
	font-size: 20px;
	vertical-align: top;
}

select {
	line-height: 24px;
	font-size: 20px;
	vertical-align: top;
}

button {
	width: 25%;
	border-radius: 3px;
}