html {
	font-family: "Microsoft YaHei" ! important;
	font-size: 22px;
}

div {
	
}

div.content {
	text-align: center;
	width: 100%;
}

div.title {
	margin: 100px 0 40px 0;
}

.key {
	display: inline-block;
	width: 25%;
	text-align: right;
	margin-right: 10px;
}

.value {
	display: inline-block;
	width: 55%;
	text-align: left;
}

span {
	line-height: 30px;
	padding: 1px;
	vertical-align: bottom;
	font-size: 20px;;
}

input {
	line-height: 24px;
	font-size: 20px;
	vertical-align: top;
}

select {
	line-height: 24px;
	font-size: 20px;
	vertical-align: top;
}

button {
	width: 25%;
	border-radius: 3px;
}

div.navItem {
	display: inline-block;
	min-width: 100px;
	width: 30%;
	text-align: center;
}

a {
	text-decoration: none;
}

div.navItem span {
	display: block;
	background: #cccccc;
	padding: 5px;
	text-decoration: none;
	color: black;
}