html {
	font-family: "Microsoft YaHei" ! important;
	font-size: 22px;
}

div.content {
	text-align: center;
}

span.key {
	display: inline-block;
	width: 80px;
}

input.value span.value {
	display: inline-block;
	width: 200px;
	font-size: 22px;
	line-height: 22px;
}