#if(!$version) #set($version='prod') #end

<!DOCTYPE HTML>
<html>
<head>
<meta name="viewport" content="width=device-width,user-scalable=no" />
#parse("/velocity/base/include.vm")
</head>
<script src="/static/js/business/base/layout.js"></script>

<body ng-app="layoutApp">
	<div class="content" ng-controller="contentController">$screen_content</div>
</body>
</html>